@use "/src/sass/base/variables.scss" as *;

header {
    position: relative;
}

.header {
    padding-top: 50px;

    &__img {
        display: none;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__logo {
        width: 100px;
        height: auto;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        a {
            display: block;
            color: $Dark;

            span {
                display: block;
                width: 20px;
                height: 20px;
                font-size: 17px;
            }
        }
    }

    &__nav {
        display: none;

        ul {
            display: flex;
            list-style-type: none;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            gap: 30px;
            margin-top: 20px;

            li {
                a {
                    color: $Dark;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }
}

.burger {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background: $Dark;
    }

}



@media screen and (min-width:768px) {
    .burger {
        visibility: hidden;
    }

    .header__nav {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        &__img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: clamp(450px, 37.5vw, 640px);
            height: auto;
        }
    }
}

@media screen and (min-width: 1920px) {
    .header {
        padding-top: 40px;

        &__logo {
            width: 150px;
        }

        &__nav {

            ul {
                margin-top: 36px;
                gap: 60px;
            }
        }
    }
}